{% extends "base.html" %}
{% load widget_tweaks %}

{% block 'content' %}
<div class="container mt-5">
    <h2 class="text-center">Crear Inmueble</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        
        <!-- Mostrar errores generales -->
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                Hubo errores en el formulario. Por favor, corrígelos e inténtalo de nuevo.
            </div>
        {% endif %}
        
        <div class="form-group">
            {{ form.nombre.label_tag }}
            {{ form.nombre|add_class:"form-control" }}
            {% for error in form.nombre.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.descripcion.label_tag }}
            {{ form.descripcion|add_class:"form-control" }}
            {% for error in form.descripcion.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.direccion.label_tag }}
            {{ form.direccion|add_class:"form-control" }}
            {% for error in form.direccion.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.depto.label_tag }}
            {{ form.depto|add_class:"form-control" }}
            {% for error in form.depto.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.m2_construidos.label_tag }}
            {{ form.m2_construidos|add_class:"form-control" }}
            {% for error in form.m2_construidos.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.m2_totales.label_tag }}
            {{ form.m2_totales|add_class:"form-control" }}
            {% for error in form.m2_totales.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.estacionamientos.label_tag }}
            {{ form.estacionamientos|add_class:"form-control" }}
            {% for error in form.estacionamientos.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.habitaciones.label_tag }}
            {{ form.habitaciones|add_class:"form-control" }}
            {% for error in form.habitaciones.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.banios.label_tag }}
            {{ form.banios|add_class:"form-control" }}
            {% for error in form.banios.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.precio.label_tag }}
            {{ form.precio|add_class:"form-control" }}
            {% for error in form.precio.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group form-check">
            {{ form.arrendado.label_tag }}
            {{ form.arrendado|add_class:"form-check-input" }}
            {% for error in form.arrendado.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.tipo_inmueble.label_tag }}
            {{ form.tipo_inmueble|add_class:"form-control" }}
            {% for error in form.tipo_inmueble.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.region.label_tag }}
            {{ form.region|add_class:"form-control" }}
            {% for error in form.region.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.comuna.label_tag }}
            {{ form.comuna|add_class:"form-control" }}
            {% for error in form.comuna.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.usuarios.label_tag }}
            {{ form.usuarios|add_class:"form-control" }}
            {% for error in form.usuarios.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-4">Crear Inmueble</button>
    </form>
</div>
{% endblock %}
