<!-- templates/footer.html -->
<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Sobre Nosotros</h5>
                <p>Encuentra tu propiedad ideal con nosotros. Ofrecemos una amplia gama de propiedades para satisfacer tus necesidades.</p>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <ul class="list-unstyled">
                    <li>Email: info@inmobiliaria.com</li>
                    <li>Teléfono: +56 9 1234 5678</li>
                    <li>Dirección: Av. Principal 123, Santiago, Chile</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Síguenos</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#" class="text-white"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#" class="text-white"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
